[submodule ".registry"]
	path = .registry
	url = https://github.com/phillipbvetter/phillipbvetter.r-universe.dev
	branch = HEAD
[submodule "ctsmTMB"]
	path = ctsmTMB
	url = https://github.com/phillipbvetter/ctsmTMB
